<link rel="stylesheet" href="css/style.css">
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
    <h1> See ya !!</h1>
    <h1> Have a Good day &#128077; </h1>
</div>